/* 文章页标题躲避波浪 */
div#post-info {
    margin-bottom: 40px;
}

#web_bg {
    background: -webkit-linear-gradient(0deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%);
    background: -moz-linear-gradient(0deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%);
    background: -o-linear-gradient(0deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%);
    background: -ms-linear-gradient(0deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%);
    background: linear-gradient(90deg,
            rgba(247, 149, 51, 0.1) 0,
            rgba(243, 112, 85, 0.1) 15%,
            rgba(239, 78, 123, 0.1) 30%,
            rgba(161, 102, 171, 0.1) 44%,
            rgba(80, 115, 184, 0.1) 58%,
            rgba(16, 152, 173, 0.1) 72%,
            rgba(7, 179, 155, 0.1) 86%,
            rgba(109, 186, 130, 0.1) 100%);
}

/* 导航栏 homepage标题阴影 */
#nav .site-page,
#page-header #scroll-down .scroll-down-effects,
#page-header #site-subtitle,
#page-header #site-title,
#nav .site-name {
    text-shadow: 3px -1px 5px #39c5bb, -2px 3px 5px #66ccff;
}

#page-header #site_social_icons .social-icon {
    text-shadow: 3px -1px 5px #66ccff, -2px 3px 5px #39c5bb;
}

/*使黑色遮罩对主页的header背景失效*/
#page-header.full_page:before {
    background: transparent;
}

/*修改layout布局宽度*/
.layout {
    max-width: 1400px;
}

/* 文章页背景 */
.layout>div:first-child:not(.recent-posts) {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255, 255, 255, 0.3);
}

/* 所有背景（包括首页卡片、文章页、页面页等） */
#recent-posts>.recent-post-item,
.layout>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255, 255, 255, 0.3);
}

/* .post-bg 文章页header模糊+暗色遮罩 */
.post-bg::before {
    background-image: inherit;
    /* 使用父元素的背景图片 */
    background-size: cover;
    background-position: center;
    filter: blur(5px) brightness(0.75);
}

#footer {
    -webkit-backdrop-filter: saturate(100%) blur(5px);
    backdrop-filter: saturate(100%) blur(5px);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

#footer,
#footer:before {
    background: hsla(0, 0%, 100%, .40)
}

div#footer-wrap * {
    color: var(--font-color);
}

/*sidebar 按钮*/
#card-info-btn {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

/*!Headerwave Start*/
:root {
    --wave-color1: rgba(255, 255, 255, 0.7);
    --wave-color2: rgba(255, 255, 255, 0.5);
    --wave-color3: rgba(255, 255, 255, 0.3);
    --wave-color4: #fff;
}

.waves {
    position: absolute;
    width: 100%;
    height: 30px;
    min-height: 60px;
    max-height: 100px;
    bottom: 0px;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5)infinite;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* 暗色适配部分 */
[data-theme=dark] {
    --wave-color1: rgba(20, 20, 20, 0.7);
    --wave-color2: rgba(20, 20, 20, 0.5);
    --wave-color3: rgba(20, 20, 20, 0.3);
    --wave-color4: #00000022;
}

/*!Headerwave End*/

/*!灯笼 START*/
.deng-box {
    position: fixed;
    top: -40px;
    right: -20px;
    z-index: 2;
}

.deng-box1 {
    position: fixed;
    top: -30px;
    right: 10px;
    z-index: 2;
}

.deng-box1 .deng {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 50px;
    background: #d8000f;
    background: rgba(216, 0, 15, 0.8);
    border-radius: 50% 50%;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 5s infinite ease-in-out;
    box-shadow: -5px 5px 30px 4px rgba(252, 144, 61, 1);
}

.deng {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 50px;
    background: #d8000f;
    background: rgba(216, 0, 15, 0.8);
    border-radius: 50% 50%;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 3s infinite ease-in-out;
    box-shadow: -5px 5px 50px 4px rgba(250, 108, 0, 1);
}

.deng-a {
    width: 100px;
    height: 90px;
    background: #d8000f;
    background: rgba(216, 0, 15, 0.1);
    margin: 12px 8px 8px 8px;
    border-radius: 50% 50%;
    border: 2px solid #dc8f03;
}

.deng-b {
    width: 45px;
    height: 90px;
    background: #d8000f;
    background: rgba(216, 0, 15, 0.1);
    margin: -4px 8px 8px 26px;
    border-radius: 50% 50%;
    border: 2px solid #dc8f03;
}

.xian {
    position: absolute;
    top: -20px;
    left: 60px;
    width: 2px;
    height: 20px;
    background: #dc8f03;
}

.shui-a {
    position: relative;
    width: 5px;
    height: 20px;
    margin: -5px 0 0 59px;
    -webkit-animation: swing 4s infinite ease-in-out;
    -webkit-transform-origin: 50% -45px;
    background: #ffa500;
    border-radius: 0 0 5px 5px;
}

.shui-b {
    position: absolute;
    top: 14px;
    left: -2px;
    width: 10px;
    height: 10px;
    background: #dc8f03;
    border-radius: 50%;
}

.shui-c {
    position: absolute;
    top: 18px;
    left: -2px;
    width: 10px;
    height: 35px;
    background: #ffa500;
    border-radius: 0 0 0 5px;
}

.deng:before {
    position: absolute;
    top: -7px;
    left: 29px;
    height: 12px;
    width: 60px;
    content: " ";
    display: block;
    z-index: 999;
    border-radius: 5px 5px 0 0;
    border: solid 1px #dc8f03;
    background: #ffa500;
    background: linear-gradient(to right, #dc8f03, #ffa500, #dc8f03, #ffa500, #dc8f03);
}

.deng:after {
    position: absolute;
    bottom: -7px;
    left: 10px;
    height: 12px;
    width: 60px;
    content: " ";
    display: block;
    margin-left: 20px;
    border-radius: 0 0 5px 5px;
    border: solid 1px #dc8f03;
    background: #ffa500;
    background: linear-gradient(to right, #dc8f03, #ffa500, #dc8f03, #ffa500, #dc8f03);
}

.deng-t {
    font-family: 华文行楷, Arial, Lucida Grande, Tahoma, sans-serif;
    font-size: 3.2rem;
    color: #dc8f03;
    font-weight: bold;
    line-height: 85px;
    text-align: center;
}

.night .deng-t,
.night .deng-box,
.night .deng-box1 {
    background: transparent !important;
}

@-moz-keyframes swing {
    0% {
        -moz-transform: rotate(-10deg)
    }

    50% {
        -moz-transform: rotate(10deg)
    }

    100% {
        -moz-transform: rotate(-10deg)
    }
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(-10deg)
    }

    50% {
        -webkit-transform: rotate(10deg)
    }

    100% {
        -webkit-transform: rotate(-10deg)
    }
}

/*!灯笼 END*/

/* pjax progress bar */
.pace-progress {
    background: #66ccff;
    box-shadow: 0 5px 10px #fff, 0 0 5px #66ccff;
    min-height: 3px;
}

/* !tag/linkcard 外挂标签CSS START */
.tag-Link {
    display: block;
    text-decoration: none !important;
    color: inherit;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 10px;
    margin-bottom: 15px;
}

.tag-Link:hover {
    transform: scale(1.05);
}

.tag-link-tips {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tag-Link:hover .tag-link-tips {
    opacity: 0;
}

.tag-link-bottom {
    display: flex;
    align-items: center;
    padding: 15px;
    border-top-left-radius: 10px;
    /* 修改卡片底部左上角的圆角 */
    border-top-right-radius: 10px;
    /* 修改卡片底部右上角的圆角 */
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tag-link-bottom:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.tag-link-left {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 15px;
}

.tag-link-left i {
    font-size: 30px;
    line-height: 80px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-link-right {
    flex: 1;
}

.tag-link-title {
    font-size: 18px;
    font-weight: bold;
    color: inherit;
}

.tag-link-sitename {
    font-size: 16px;
    color: #666;
}

.fa-angle-right {
    margin-left: auto;
    color: #666;
}

[data-theme="light"] .tag-link-bottom {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] .tag-link-bottom {
    background-color: rgba(44, 44, 44, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: #fff;
}

/* !tag/linkcard 外挂标签CSS END */

/* !修改全局ruby标签注音样式 START */
rt {
    font-size: 0.8em;
}

/* !修改全局ruby标签注音样式 END */

/* !修改友链头像框样式 START */
#article-container .flink .flink-list>.flink-list-item a .flink-item-icon {
    border-radius: 10px;
}

/* !修改友链头像框样式 END */

/* !页脚git-commit样式 START */
.git-commit * {
    /* 字体颜色 */
    color: rgb(0, 0, 0, 0.5) !important;
}